*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg-effect-yellow{
    z-index: -1;
    position: absolute;
    width: 560px;
    height: 560px;
    left: -189px;
    top: 32px;
    background: rgba(146, 160, 12, 0.6);
    filter: blur(500px);
}
.bg-effect-green{
    z-index: -1;
    position: absolute;
    width: 981px;
    height: 560px;
    left: 927px;
    top: 77.9px;

    background: rgba(125, 254, 149, 0.8);
    filter: blur(500px);
    transform: rotate(-21.52deg);
}
.bg-effect-gray{
    z-index: -1;
    position: absolute;
    width: 736px;
    height: 736px;
    left: 466px;
    top: -90px;
    background: rgba(255, 255, 255, 0.9);
    filter: blur(400px);
}
.bg-effect-yellow2{
    z-index: -1;
    position: absolute;
    width: 560px;
    height: 560px;
    left: -389px;
    top: 3252px;

    background: rgba(242, 250, 170, 0.6);
    filter: blur(500px);
}
.bg-effect-green2{
    z-index: -1;
    position: absolute;
    width: 981px;
    height: 560px;
    left: 727px;
    top: 3297.9px;

    background: rgba(125, 254, 149, 0.4);
    filter: blur(500px);
    transform: rotate(-21.52deg);
}
.bg-effect-yellow3{
    z-index: -1;
    position: absolute;
    width: 560px;
    height: 560px;
    left: -354px;
    top: 4511px;
    
    background: rgba(242, 250, 170, 0.6);
    filter: blur(500px);
}
.bg-effect-green3{
    z-index: -1;
    position: absolute;
    width: 981px;
    height: 560px;
    left: 762px;
    top: 4556.9px;
    
    background: rgba(125, 254, 149, 0.4);
    filter: blur(500px);
    transform: rotate(-21.52deg);
}
.bg-linear{
    background: linear-gradient(91.66deg, #88FFFB 7.72%, #7DFE95 99.26%);
}
.text-tothe {
    background: linear-gradient(90deg, #57FAF4 0%, #46FEF7 0.01%, #18FF43 113.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    background-clip: text;
    text-fill-color: transparent;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {

}
.leading-heading{
    line-height: 85px !important;
}
.bg-getStarted{
    background: linear-gradient(95.11deg, #FCBF58 -12.3%, #ABFFFC 23.83%, #7DFE95 54.98%, #7DFE95 67.61%, #FCBF58 89.25%);
    mix-blend-mode: multiply;
    border-radius: 15px;

}
.border-gradient {
    border: 1px solid #7D8088 15%;
    border-image-slice: 1;
    border-width: 1px;
    border-radius: 6px;
}
.border-gradient-purple:hover {
    border-image-source: linear-gradient(to right, #ABFFFC,#7DFE95,#FCBF58) ;
    border-width: 2px;

}
.border-gradient-green:hover {
    border-image-source: linear-gradient(to top, #88FFFB, #7DFE95) ;
    border-width: 5px;

}
.bg-button-input{
    background: linear-gradient(91.66deg, #88FFFB 7.72%, #7DFE95 99.26%);
}
.bg-tick{
    background: linear-gradient(91.66deg, #3FF861 7.72%, #7DFE95 99.26%);
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 18px rgba(157, 155, 155, 0.12)
}
.icon-hover:hover {
    background: linear-gradient(91.66deg, #88FFFB 7.72%, #7DFE95 99.26%);
    color: red;
}
.icon-fb{
    width: 6px;
    height: 12px;
}
.icon-insta{
    width: 11px;
    height: 12px;
}

.icon-twitter{
    width: 10px;
    height: 10px;
}
